html, body {
  background-color: #ffeead;
  margin: 10px;
}


.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  color: #ffeead;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > div:nth-child(1) {
  background-color: #96ceb4;
}

.container > div:nth-child(2) {
  background-color: #ff6f69;
}

.container > div:nth-child(3) {
  background-color: #150E56;
}

.container > div:nth-child(4) {
  background-color: #96ceb4;
}

.container > div:nth-child(5) {
  background-color: #ff6f69;
}

.container > div:nth-child(6) {
  background-color: #150E56;
}

.container > div:nth-child(7) {
  background-color: #96ceb4;
}

.container > div:nth-child(8) {
  background-color: #ff6f69;
}

.container > div:nth-child(9) {
  background-color: #150E56;
}

.container > div:nth-child(10) {
  background-color: #96ceb4;
}

.container > div:nth-child(11) {
  background-color: #ff6f69;
}

.container > div:nth-child(12) {
  background-color: #150E56;
}
