body, html {
  height: 100%;
}

.container {
  border: 5px solid #ffcc5c;
  display: flex;
  justify-content: space-between;

}

.search {
  flex: 1;
}

@media all and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100%;

  }

  .container > li {
    flex: 1 1 100%;
  }

  .search {
    order: 1
  }
}
